.titulo {
    text-align: center;
    font-size: 100px;
    color: white;
}

/* Formulario para iniciar sesión */
.formulario {
    background: slateblue;
    margin: 40px;
    padding: 50px 20px 50px 20px;
}
/* Campos de informacion*/
.form-group {
    margin: 20px;
    color: white;
    font-size: 20px;
}
/* Botón "Recuérdame" */
.form-check {
    margin: 20px;
    color: white;
}
/* Boton de "Inicio de Sesion" */
button {
    padding: 20px 50px 20px 50px;
    border: none;
    background: dodgerblue;
    color: white;
}